/* 
    Document   : style
    Created on : 14/01/2010, 08:51:23
    Author     : MyDesign
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

