.copyrigt {  font: 11px Arial, Helvetica, sans-serif; color: #000000; background: #CCCCCC}
.titleintro {  font: bold 18px Verdana, Arial, Helvetica, sans-serif}
.centraltext {  font: normal 12px Arial, Helvetica, sans-serif}
.linkcentral {  font: normal 12px Arial, Helvetica, sans-serif}
.title2 {  font: bold 13px Verdana, Arial, Helvetica, sans-serif}
.centraltext:link {  color: #0000FF}
.centraltext:hover {  color: #000000; text-decoration: none}
.copyrigt:link {  color: #000000}
.copyrigt:hover {  color: #FFFFFF; text-decoration: none}
.centraltextneg {  font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; font-size: 12px; margin-bottom: 1px; margin-left: 1px}
a {  }
a:hover {  text-decoration: none}
p {  font-family: Arial, Helvetica, sans-serif; font-weight: normal; margin-left: 5px; margin-right: 105px; text-align: justify; font-size: 12px}
h3 {  font-family: Arial, Helvetica, sans-serif; font-size: 16px; margin-left: 5px}
.bkcentral1 {  background-repeat: repeat-y; background-position: right top; background-image: url(columna.gif)}
h1 {  font-family: Arial, Helvetica, sans-serif; font-size: 18px; margin-left: 5px}
h2 {  font-family: Arial, Helvetica, sans-serif; font-size: 14px; margin-left: 5px}
li {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; margin-right: 105px; margin-left: 5px}
.formemailcampo { background: #F7F7F7; color: #1c1c1c; font-family: Arial, Helvetica, sans-serif; font-size: 11px; border-left: 1px #000000 solid; border-right: 1px #000000 solid; border-top: 1px #000000 solid; border-bottom: 1px #000000 solid; ; clip:   rect(   )}
.toplogo {
	background-image: url(logonuevo1.gif);
	background-repeat: no-repeat;
	background-position: center center;
}
